<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.useblu.oceands.client">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.transactionlistitem.TransactionListItemActivity" />
        <activity android:name=".ui.badges.BadgesActivity" />
        <activity android:name=".ui.tag.TagActivity" />
        <activity android:name=".ui.balance.BalanceActivity" />
        <activity android:name=".ui.shortcuts.ShortcutsActivity" />
        <activity android:name=".ui.carousel.CarouselActivity" />
        <activity android:name=".ui.caption.CaptionActivity" />
        <activity android:name=".ui.description.DescriptionActivity" />
        <activity android:name=".ui.paragraph.ParagraphActivity" />
        <activity android:name=".ui.subtitles.SubtitlesActivity" />
        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.buttons.ButtonsActivity" />
        <activity android:name=".ui.headings.HeadingsActivity" />
        <activity android:name=".ui.typography.TypographyActivity" />
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".ui.input.InputActivity" />
        <activity android:name=".ui.alert.AlertActivity" />
        <activity android:name=".ui.toobar.TopbarActivity" />
        <activity android:name=".ui.listitem.ListItemActivity" />
        <activity android:name=".ui.switchs.SwitchsActivity" />
        <activity android:name=".ui.radio.RadioActivity" />
        <activity android:name=".ui.textlink.TextLinkActivity" />
        <activity android:name=".ui.optionscard.OptionsCardActivity" />
    </application>

</manifest>