<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.bottomnavigation.BottomNavigationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.donut.DonutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.tab.TabActivity"
            android:exported="false" />
        <activity android:name=".ui.step.StepViewActivity" />
        <activity android:name=".ui.listsubheader.ListSubheaderActivity" />
        <activity android:name=".ui.cardgroup.CardGroupActivity" />
        <activity android:name=".ui.transactionlistitem.TransactionListItemActivity" />
        <activity android:name=".ui.badges.BadgesActivity" />
        <activity android:name=".ui.tag.TagActivity" />
        <activity android:name=".ui.balance.BalanceActivity" />
        <activity android:name=".ui.shortcuts.ShortcutsActivity" />
        <activity android:name=".ui.carousel.CarouselActivity" />
        <activity android:name=".ui.caption.CaptionActivity" />
        <activity android:name=".ui.chips.ChipsActivity" />
        <activity android:name=".ui.description.DescriptionActivity" />
        <activity android:name=".ui.paragraph.ParagraphActivity" />
        <activity android:name=".ui.subtitles.SubtitlesActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.buttons.ButtonsActivity" />
        <activity android:name=".ui.headings.HeadingsActivity" />
        <activity android:name=".ui.typography.TypographyActivity" />
        <activity android:name=".ui.input.InputActivity" />
        <activity android:name=".ui.alert.AlertActivity" />
        <activity android:name=".ui.toobar.TopbarActivity" />
        <activity android:name=".ui.switchs.SwitchsActivity" />
        <activity android:name=".ui.radio.RadioActivity" />
        <activity android:name=".ui.textlink.TextLinkActivity" />
        <activity android:name=".ui.optionscard.OptionsCardActivity" />
        <activity android:name=".ui.checkbox.CheckBoxActivity" />
        <activity android:name=".ui.textlistexpandable.TextListExpandableActivity" />
        <activity android:name=".ui.crosscellcard.CardCrossSellActivity" />
        <activity android:name=".ui.footer.FooterBluActivity" />
        <activity android:name=".ui.transactionfooter.TransactionFooterActivity" />
        <activity android:name=".ui.descriptorlistitem.DescriptorListActivity" />
        <activity android:name=".ui.groupcta.GroupCTAActivity" />
        <activity android:name=".ui.headerapp.HeaderAppActivity" />
        <activity android:name=".ui.carditem.CardItemActivity" />
        <activity android:name=".ui.orderedlistitem.OrderedListItemActivity" />
        <activity android:name=".ui.settingslistitem.SettingsListItemActivity" />
        <activity android:name=".ui.statuslistitem.StatusListItemActivity" />
        <activity android:name=".ui.textlistitem.TextListItemActivity" />
        <activity android:name=".ui.textlisticonitem.TextListIconItemActivity" />
        <activity android:name=".ui.unorderedlistitem.UnorderedListItemActivity" />
        <activity android:name=".ui.textlistinverted.TextListInvertedItemActivity" />
        <activity android:name=".ui.textlistinline.TextListInlineItemActivity" />
        <activity android:name=".ui.accordion.AccordionActivity" />
        <activity android:name=".ui.informativecard.InformativeCardActivity" />
        <activity android:name=".ui.progressbar.ProgressBarActivity" />
        <activity android:name=".ui.detailed.DetailedCardActivity" />
        <activity android:name=".ui.chartcard.ChartCardActivity" />
    </application>

</manifest>